absl-py==0.9.0
alabaster==0.7.12
albumentations==0.4.3
apipkg==1.5
argcomplete==1.9.4
argh==0.26.2
asn1crypto==1.0.1
astor==0.8.0
astroid==2.3.1
astropy==3.2.2
atari-py==0.2.6
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.0
bitarray==1.0.1
bkcharts==0.2
bleach==3.1.4
blessings==1.7
bokeh==1.3.4
boto==2.49.0
bottle==0.12.9
Bottleneck==1.2.1
bumpversion==0.5.3
cachetools==3.1.1
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
configparser==4.0.2
contextlib2==0.6.0
coverage==4.5.2
coveralls==1.5.1
cryptography==2.7
cycler==0.10.0
Cython==0.29.13
cytoolz==0.10.0
dask==2.5.2
decorator==4.4.0
defusedxml==0.6.0
distributed==2.5.2
docker==3.7.0
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.15.2
easydict==1.9
entrypoints==0.3
et-xmlfile==1.0.1
execnet==1.7.1
fastcache==1.1.0
fastparquet==0.2.1
filelock==3.0.12
flake8==3.3.0
Flask==1.1.1
freezegun==0.3.9
fsspec==0.5.2
funcsigs==1.0.2
fusepy==2.0.4
future==0.17.1
gast==0.2.2
gevent==1.4.0
gitdb2==2.0.6
GitPython==3.0.5
glob2==0.7
google-auth==1.7.1
google-auth-oauthlib==0.4.1
google-pasta==0.1.7
gpustat==0.6.0
gql==0.2.0
graphql-core==1.1
greenlet==0.4.15
grpcio==1.25.0
h5py==2.8.0
HeapDict==1.0.1
html5lib==1.0.1
idna==2.7
imageio==2.5.0
imageio-ffmpeg==0.3.0
imagesize==1.1.0
imgaug==0.2.6
importlib-metadata==0.23
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.1
jeepney==0.4.1
Jinja2==2.10.3
joblib==0.13.2
json5==0.8.5
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyterlab==1.1.4
jupyterlab-server==1.0.6
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==18.0.0
kiwisolver==1.1.0
kornia==0.1.4.post2
lazy-object-proxy==1.4.2
libarchive-c==2.8
lief==0.9.0
lightgbm==2.3.1
locket==0.2.0
lxml==4.2.6
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==2.6.1
marshmallow-jsonapi==0.15.1
matplotlib==3.0.3
mccabe==0.6.1
mistune==0.8.4
mock==2.0.0
more-itertools==7.2.0
moviepy==1.0.0
mpmath==1.1.0
msgpack==0.6.1
msgpack-numpy==0.4.4.3
multidict==4.7.2
multipledispatch==0.6.0
natsort==6.2.0
nbconvert==5.6.0
nbformat==4.4.0
networkx==2.3
nltk==3.4.5
nose==1.3.7
notebook==6.0.1
numba==0.45.1
numexpr==2.7.0
numpy==1.18.1
numpydoc==0.9.1
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
opencv-python==4.1.2.30
openpyxl==3.0.0
opt-einsum==3.1.0
packaging==19.2
pandas==0.25.3
pandocfilters==1.4.2
parso==0.5.1
partd==1.0.0
path.py==12.0.1
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pbr==5.4.4
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.0
pkginfo==1.5.0.1
plotly==4.4.1
pluggy==0.13.0
ply==3.11
proglog==0.1.9
progressbar2==3.38.0
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==2.0.10
protobuf==3.9.2
psutil==5.4.6
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.3.1
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pyflakes==1.5.0
pyglet==1.3.2
Pygments==2.4.2
pylint==2.4.2
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyrsistent==0.15.4
PySocks==1.7.1
pytest==4.1.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-cov==2.6.1
pytest-doctestplus==0.4.0
pytest-faulthandler==1.5.0
pytest-flask==0.11.0
pytest-forked==1.1.3
pytest-mock==1.10.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
pytest-runner==5.2
pytest-timeout==1.3.3
pytest-vcr==1.0.2
pytest-watch==4.1.0
pytest-xdist==1.26.0
python-dateutil==2.8.0
python-utils==2.3.0
pytz==2019.3
pyzmq==18.1.0
QtAwesome==0.6.0
qtconsole==4.5.5
QtPy==1.9.0
readme-renderer==24.0
recommonmark==0.4.0
redis==3.3.11
requests==2.22.0
requests-mock==1.3.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
rope==0.14.0
rsa==4.0
ruamel-yaml==0.15.46
Rx==1.6.1
scikit-image==0.16.2
scikit-learn==0.20.2
scipy==1.1.0
seaborn==0.9.0
SecretStorage==3.1.1
Send2Trash==1.5.0
sentry-sdk==0.13.5
sh==1.12.14
shortuuid==0.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
smmap2==2.0.5
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
SoundFile==0.10.2
soupsieve==1.9.3
statsmodels==0.10.1
subprocess32==3.5.4
sympy==1.4
tables==3.5.2
tabulate==0.8.5
tblib==1.4.0
tensorflow-gpu==2.1.0
tensorflow-determinism==0.3.0
tensorpack==0.9.8
termcolor==1.1.0
terminado==0.8.2
test-tube==0.7.5
testpath==0.4.2
thrift==0.13.0
toolz==0.10.0
tornado==6.0.3
tox==2.6.0
tox-pyenv==1.0.3
tqdm==4.35.0
traitlets==4.3.3
twine==1.13.0
unicodecsv==0.14.1
urllib3==1.23
vcrpy==4.0.2
virtualenv==16.7.9
wandb==0.8.21
watchdog==0.8.3
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.11.1
wurlitzer==1.0.3
xlrd==1.2.0
XlsxWriter==1.2.1
xlwt==1.3.0
yarl==1.4.2
zict==1.0.0
zipp==0.6.0
